.main-navigation {

  &__toggler {
    position: relative;
  }

  &__toggler-text {
    padding: 0;
    margin: 0;
    padding-top: 27px;
    padding-right: 36px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #f0f1f2;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    cursor: pointer;
  }

  &__toggler-elem {
    width: 22px;
    height: 2px;
    display: block;
    background-color: #fa325a;
    border-radius: 15px;
    position: absolute;
    top: 26px;
    right: 8px;
    cursor: pointer;

    &::before {
      content: "";
      width: 22px;
      height: 2px;
      display: block;
      background-color: #fa325a;
      border-radius: 15px;
      position: absolute;
      top: 7px;
      right: 0;
    }

    &::after {
      content: "";
      width: 22px;
      height: 2px;
      display: block;
      background-color: #fa325a;
      border-radius: 15px;
      position: absolute;
      top: 14px;
      right: 0;
    }
  }

  &__list {
    display: none;
  }
}
