.main-navigation {

  &__toggler {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  &__toggler-text {
    padding: 0;
    margin: 0;
    padding-top: 27px;
    padding-right: 36px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #f0f1f2;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    cursor: pointer;
  }

  &__toggler-elem {
    width: 22px;
    height: 2px;
    display: block;
    background-color: #fa325a;
    border-radius: 15px;
    position: absolute;
    top: 26px;
    right: 8px;
    cursor: pointer;

    &::before {
      content: "";
      width: 22px;
      height: 2px;
      display: block;
      background-color: #fa325a;
      border-radius: 15px;
      position: absolute;
      top: 7px;
      right: 0;
    }

    &::after {
      content: "";
      width: 22px;
      height: 2px;
      display: block;
      background-color: #fa325a;
      border-radius: 15px;
      position: absolute;
      top: 14px;
      right: 0;
    }
  }

  &__list {
    display: none;
  }

  @include tablet {
    display: flex;
    letter-spacing: 1.6px;
    padding-top: 14px;
    padding-right: 12px;

    &__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 26px;
      width: 401px;
    }

    &__item {

      &:nth-child(4) {
        display: none;
      }

      &:nth-child(5) {
        display: none;
      }

      &:nth-child(6) {
        display: none;
      }
    }

    &__link {
      text-decoration: none;
      font-family: "PT Sans", Arial, sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      color: #f0f1f2;
      display: block;
      margin-right: 39px;
    }
  }
}
