.page {
  position: relative;
  z-index: 2;

  &__sub-title {
    position: relative;
    z-index: 2;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #f0f1f2;

    &--red {
      padding: 41px 0 0 8px;
      color: #fa325a;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    margin: 0;
    padding-top: 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    font-family: "PT Sans Caption", Arial, sans-serif;
    color: #ffffff;

    &--black {
      color: #041b26;
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 32px;
    padding-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: "PT Serif", Georgia, serif;
    color: #f0f1f2;

    &--gray {
      padding-right: 17px;
      color: #485155;
      hyphens: auto;
    }

    &--tablet {
      display: none;
    }
  }

  &__link {
    display: none;

    &--visible {
      position: relative;
      z-index: 2;
      display: block;
      font-weight: 700;
      font-size: 13px;
      line-height: 13px;
      font-family: $pt-sans;
      color: #f0f1f2;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1.3px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 40px;
        width: 10px;
        height: 10px;
        border: 3px solid #fa325a;
        border-bottom: transparent;
        border-left: transparent;
        transform: rotate(45deg);
      }
    }
  }

  @include tablet {

    &__sub-title {
      font-size: 20px;
    }

    &__title {
      box-sizing: content-box;
      padding-top: 35px;
      font-size: 45px;
      line-height: 49.5px;
    }

    &__text {
      display: none;

      &--tablet {
        display: block;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 32px;
        padding-top: 15px;
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        font-family: "PT Serif", Georgia, serif;
        color: #f0f1f2;
      }
    }
  }

  @include desktop {

    &__sub-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      font-family: "PT Sans", Arial, sans-serif;
      color: rgb(240, 241, 242);
    }

    &__title {
      padding-top: 38px;
      font-weight: 700;
      font-size: 36px;
      line-height: 39.6px;
      font-family: "PT Sans Caption", Arial, sans-serif;
      color: rgb(255, 255, 255);
    }

    &__text--tablet {
      font-size: 24px;
      line-height: 41px;
      font-family: "PT Serif", Georgia, serif;
      color: rgb(240, 241, 242);
    }
  }
}
