.page-header {
  min-height: 500px;
  background: url("../img/page-header-bg-mobile.jpg") no-repeat;
  padding: 0 0.5rem;

  &__inner {
    @include inner;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    padding-top: 16px;
    padding-left: 8px;
  }
}
