.page-header {
  position: relative;
  z-index: 1;

  &__inner {
    @include inner;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    padding-top: 16px;
    padding-left: 8px;
  }

  @include tablet {

    &__logo {
      padding-top: 30px;
      padding-left: 18px;
    }
  }
}
