.btn {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #ffffff;
  outline: 0;
  border: 0;
  background: rgba(250, 50, 90, 1);
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding: 7px 16px;
}
