.hero-form {
  padding-left: 8px;
  position: relative;
  z-index: 2;

  &__input {
    display: none;
  }

  @include tablet {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 24px;

    &__input {
      display: block;
      box-sizing: border-box;
      width: 172px;
      height: 39px;
      padding: 5px 27px;
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
      font-family: "PT Sans", Arial, sans-serif;
      color: rgb(150, 155, 160);
      text-transform: uppercase;
      letter-spacing: 3.4px;
      background: rgba(255, 255, 255, 1);
      border: 0;
      border-radius: 19px;
      outline: 0;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
      position: relative;

      &--outer {
        position: relative;
        margin-right: 20px;

        &::after {
          content: "";
          position: absolute;
          top: 11px;
          right: 23px;
          display: block;
          width: 13px;
          height: 22px;
          background: url("../img/rouble.svg") no-repeat;
        }
      }
    }
  }

  @include desktop {
    padding-left: 13px;

    &__input {
      font-size: 34px;
      line-height: 16px;
      letter-spacing: 3.4px;
      border-radius: 23px;
      width: 204px;
      height: 47px;
      padding: 5px 30px;

      &--outer {
        margin-right: 36px;

        &::after {
          top: 17px;
          right: 29px;
        }
      }
    }
  }
}
