// .video {
//   background: url("../img/sokolovskiy.jpg") no-repeat center;
//   filter: grayscale(1);
//   background-size: cover;
//   overflow: hidden;
//   position: relative;
//   z-index: 1;
//
//   &::before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     // background: rgba(4, 27, 38, 0.9);
//     z-index: 2;
//   }
//
//   &__inner {
//     @include inner;
//   }
//
//   iframe {
//     position: relative;
//     z-index: 3;
//     top: 40px;
//     left: 8px;
//     filter: none;
//   }
// }

.video {
  position: relative;

  &__inner {
    @include inner;
  }

  &__outer {
    position: absolute;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(4, 27, 38, 0.9);
      z-index: 3;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    position: relative;
    z-index: 2;
    min-height: 273px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(4, 27, 38, 0.9);
      z-index: 3;
    }
  }

  &__clip {
    width: 288px;
    height: 150px;
    position: relative;
    z-index: 3;
    object-fit: cover;
  }
}
