.hero-section {
  position: relative;
  top: -46px;
  padding-top: 131px;
  min-height: 369px;
  background: url("../img/hero-bg-mobile.jpg") no-repeat;
  background-size: cover;

  @include tablet {
    position: relative;
    top: -60px;
    padding-top: 263px;
    min-height: 530px;
    background: url("../img/hero-bg-tablet.jpg") no-repeat;
    background-size: cover;
  }

  @include desktop {
    position: relative;
    top: -72px;
    padding-top: 190px;
    min-height: 500px;
    background: url("../img/hero-bg-desktop.jpg") no-repeat;
    background-size: cover;
  }

  &__inner {
    @include inner;
  }
}
